*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_grid_container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* sidebar styles */

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    gap: 50px;
    padding: 15px;
    background-color: rgb(45, 157, 255);
    color: white;
    align-content: start;
}
.sidebar svg{
    fill: white;
}
.sidebar_heading>svg{
    width: 3rem;
}
.sidebar .navigation>.navigation_cells>svg{
    width: 1.3rem;
}
.sidebar .navigation>.navigation_cells>a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.sidebar_heading,
.sidebar .navigation_cells{
    display: flex;
    align-items: center;
}
.sidebar_heading{
    gap: 10px;
}
.navigation{
    padding-left: 8px;
    display: grid;
    gap: 18px;
}
.navigation_cells{
    gap: 18px;
}

/* header styles */

.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.header svg{
    width: 1.3rem;
}
.top_right_pfp>img{
    border-radius: 50%;
    width: 2.5rem;
}
.top_right_username{
    font-size: 1rem;
    font-weight: bold;
}
.header_profile>.main_pfp>img{
    border-radius: 50%;
    width: 4rem;
}
.header_profile>.profile_right>.greetings{
    font-size: 0.8rem;
    font-weight: bold;
}
.header_profile>.profile_right>.main_username{
    font-size: 1.4rem;
    font-weight: bold;
}
.header_buttons>button{
    padding: 8px 24px;
    border-radius: 25px;
    color: white;
    border: none;
    background-color: rgb(45, 157, 255);
}