*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_grid_container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
}
.sidebar_heading>svg{
    width: 3rem;
}
.sidebar .navigation>.navigation_cells>svg{
    width: 1.3rem;
}
.sidebar .navigation>.navigation_cells>p{
    font-size: 1.3rem;
}